header{
	display: block;
	background-color:#a37958;
	border: solid #4B2D0B;
	border-width: 2px 2px 0px 2px;
	text align: center;
	}


ul{
	List-style-type: none;
	margin: 0;
	padding: 0;
	Overflow: hidden;
	border: solid #4B2D0B;
	border-width: 2px 2px 2px 2px;
	font-family: Helvetica;
	
	}	

nav {
   margin: 0;
   padding: 0;
   background: none;
   font-family: Helvetica;
   border: -1px solid #4B2D0B;
   }


.navbar ul {
    list-style: none;
    background: #ffde59;
    padding: 0;
    margin: 0;
    text-align: center;
    }

.navbar li {
   display: inline-block;
   }

.navbar a {
   text-decoration: none;
   color: black;
   width: 140px;
   display: block;
   padding: 10px 10px;
   font-size: 15px;
   text-transformation: uppercase;
   font-weight: bold;
   text-align: center;
   }

.navbar a:hover {
   background: #BEBEBE;
   }


li{
	text-align: center;
	float: center;
}
a.navB:link, a.navB:visited{
	display:block;
	text-decoration: none;
	color: black;
	border-radius: 10px;
	}
a.navB:hover, a.navA:active{
	background-color: #a37958;
	}

.container {
  padding: 14px;
}

.halo {
  display: flex;
  align-items: center;
  justify-content: center
}


img.Header{
	display: block;
	margin: 0 auto 0 auto;
	}

img.Map{
	width: 350px;
	height: 350px;
	}
img.footer{
	width: 50px;
	height: 40px;
	}
p.A{
	text-align: justify;
	font-size: 20px;
	text-indent: 200px;
	font-family: Helvitica, sans-serif;
	line-height: 1.1;
	padding-left: 10px;
	}
p.B{
	text-align: center;
	font-size: 15px;
	font-family: Helvitica, sans-serif;
	line-height: 1.1;
}

p.c{
	text-align: center;
	font-size: 20px;
	font-family: Helvitica, sans-serif;
	line-height: 1.1;
}

p.D{
	text-align: justify;
	font-size: 20px;
	font-family: Helvitica, sans-serif;
	line-height: 1.1;
}


div.C{
	float: left;
	}
div.D{
	float: right;
	}
button {
  	background-color: #04AA6D;
  	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	width: 100%;
}

h1{
	text-align: center;
	font-family: 'Alfa Slab One';
	color: #ad795b;
	font-size: 50px;
	letter-spacing: 5px;
	}
h2{
	background-color: #eba850;
	border: solid #a37958 3px;
	border-radius: 10px;
	text-align: center;
	font-size: 30px;
	font-family: 'Arimo', sans-serif;
	letter-spacing: 5px;
	}
footer{
	width: 100%;
	height: 40px;
	background-color: #a37958;
	border: solid #4B2D0B;
	border-width: 2px 2px 3px 2px;
	}